[submodule "NThreadOSUtils"]
	path = NThreadOSUtils
	url = https://github.com/woldann/NThreadOSUtils
[submodule "NThread"]
	path = NThread
	url = https://github.com/woldann/NThread
[submodule "Neptune"]
	path = Neptune
	url = https://github.com/woldann/Neptune
